<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.atraverf.uvlive"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="es.uv.uvlive.UVLiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="es.uv.uvlive.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.uv.uvlive.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="es.uv.uvlive.ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="es.uv.uvlive.ui.activity.UsersActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="es.uv.uvlive.service.UVLiveMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="es.uv.uvlive.service.UVLiveInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0d02a92edfd5f0e9e8087efebfc5732882920882" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/logo"
            tools:ignore="ManifestResource" />

    </application>

</manifest>